<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Market</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!--CSS Loading -->
	<link rel="manifest" href="../../manifest.json">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../css/prettyPhoto.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/sticky-footer.css">
    <link rel="stylesheet" href="../../css/box.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- <link rel="stylesheet" href="../../css/main.css"> -->
    
</head>
<body>

    

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../js/popper.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../js/ie10-viewport-bug-workaround.js"></script>
<script src="../../js/jquery.prettyPhoto.js"></script>
<script src="../../js/jquery.scrollTo.js"></script>
<script src="../../js/jquery.nav.js"></script>
<script src="../../js/salesmarket.js"></script>
<script src="../../application.js"></script>

<script>

(function($) {

	$(function() {
		
	});

}(jQuery))
// (function() {
// 	var requestSet = {
// 		findNews: {data: {system: 'News', operation: 'findCurrentNews'}}
// 	};
	
// 	Modal.confirm = function() {
// 		var status = {
// 			card: function() {
// 				console.log('modal Card');
// 			},
// 		};

// 		if (!this.data('status')) {
// 			$.error('No Status');
// 		}
// 		return status[this.data('status')].apply(this);
// 	};

// 	var modal = new Modal($('#modal'));
// 	var ajax = new Ajax({'url': '../../app/postFactory.php'});
// 	var service = new Service;

// 	var News = (function() {
// 		var generateNews = function(result) {
// 			$('#accordionNews').append(result.news);
// 		};

// 		service.listen('news', function(result) {
// 			generateNews(result);
// 		});

// 	}());

// 	var init = (function() {
// 		ajax.request(requestSet.findNews).done(function(result) {
// 			service.trigger('news', result);
// 		});
// 	}());

	
// }());
	
</script>
</body>

</html>