<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Market</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!--CSS Loading -->
	<link rel="manifest" href="../../manifest.json">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../css/prettyPhoto.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/sticky-footer.css">
    <link rel="stylesheet" href="../../css/box.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- <link rel="stylesheet" href="../../css/main.css"> -->
    
</head>
<body>

<header>
    <nav id="navigation" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="navbar-brand">
					<a href="../home/" class="brand">Coffee</a>
				</div>

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="navbar">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="navbar-collapse collapse" id="menu">
					<ul class="nav navbar-nav">		
						<li class="nav-item dropdown">
							<a class="dropdown-toggle external" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">選單<span class="caret"></span></a>
							<ul class="dropdown-menu">
				                <li><a href="#" class="external">咖啡產地</a></li>
				                <li><a href="#" class="external">糕點咖啡萃取</a></li>
				            	<li><a href="#" class="external">居家調理咖啡</a></li>
				            </ul>
						</li>

						<li class="nav-item dropdown">
							<a class="dropdown-toggle external active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">產品<span class="caret"></span></a>
							<ul class="dropdown-menu">
				                <li><a href="#" class="external">咖啡豆</a></li>
				                <li><a href="../product/" class="external">糕點</a></li>
				            	<li><a href="#" class="external">飲料</a></li>            	
				            </ul>
						</li>

						<li class="nav-item dropdown">
							<a href="dropdown-toggle external" href="#" data-toggle="dropdown" aria-haspopup="true" aira-expanded="false">活動<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" class="external">近期活動</a></li>
								<li><a href="#" class="external">促銷</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown messages-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-shopping-cart fa-2x"></i>
								<span class="label label-success">6</span>
							</a>
							<ul class="dropdown-menu">
								<li class="header">您選購6項目</li>
								<li>
									<ul class="menu">
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="../../images/product/coffee-restaurant3.jpg" class="img-circle" alt="coffee">
												</div>
												<h4>卡布奇諾蛋糕<small>5分前</small></h4>
												<p>NT 2,650</p>
											</a>	
										</li>
										
									</ul>
									<li class="footer"><a href="#">結帳</a></li>
								</li>
							</ul>
						</li>
						
					</ul>
				</div>
					 
			</div>
		</div>		
	</nav>
</header>	


	<section class="container">
		<div class="col-sm-8 col-sm-offset-2">
			<img style="max-height: 1000px; max-width: 1200px" src="../../images/about.jpg" class="img-responsive">
		</div>
	</section>
	

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/JiCoffee/js/vendor/jquery.min.js"><\/script>')</script>
<!-- <script src="../../js/popper.min.js"></script> -->
<script src="/JiCoffee/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/JiCoffee/js/ie10-viewport-bug-workaround.js"></script>
<script src="/JiCoffee/js/jquery.prettyPhoto.js"></script>
<script src="/JiCoffee/js/jquery.scrollTo.js"></script>
<script src="/JiCoffee/js/jquery.nav.js"></script>
<script src="/JiCoffee/application.js"></script>


<script>

$(function($) {
	$(function() {
		$('#modal').modal('show');
	});
}(jQuery));

// (function() {
// 	var requestSet = {
// 		findNews: {data: {system: 'News', operation: 'findCurrentNews'}}
// 	};
	
// 	Modal.confirm = function() {
// 		var status = {
// 			card: function() {
// 				console.log('modal Card');
// 			},
// 		};

// 		if (!this.data('status')) {
// 			$.error('No Status');
// 		}
// 		return status[this.data('status')].apply(this);
// 	};

// 	var modal = new Modal($('#modal'));
// 	var ajax = new Ajax({'url': '../../app/postFactory.php'});
// 	var service = new Service;

// 	var News = (function() {
// 		var generateNews = function(result) {
// 			$('#accordionNews').append(result.news);
// 		};

// 		service.listen('news', function(result) {
// 			generateNews(result);
// 		});

// 	}());

// 	var init = (function() {
// 		ajax.request(requestSet.findNews).done(function(result) {
// 			service.trigger('news', result);
// 		});
// 	}());

	
// }());
	
</script>
</body>

</html>