<!DOCTYPE HTML>
<html lang="en">
<head>
	<title>Market</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	
	<!--CSS Loading -->
	<link rel="manifest" href="../../manifest.json">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../../css/prettyPhoto.css">
    <link rel="stylesheet" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/sticky-footer.css">
    <link rel="stylesheet" href="../../css/box.css">
    <link rel="stylesheet" href="../../css/style.css">
    <!-- <link rel="stylesheet" href="../../css/main.css"> -->
    
</head>
<body>

<header>
    <nav id="navigation" class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="row">
				<div class="navbar-brand">
					<a href="../home/" class="brand">Coffee</a>
				</div>

				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false" aria-controls="navbar">
						<i class="fa fa-bars"></i>
					</button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="navbar-collapse collapse" id="menu">
					<ul class="nav navbar-nav">		
						<li class="nav-item dropdown">
							<a class="dropdown-toggle external" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">選單<span class="caret"></span></a>
							<ul class="dropdown-menu">
				                <li><a href="#" class="external">咖啡產地</a></li>
				                <li><a href="#" class="external">糕點咖啡萃取</a></li>
				            	<li><a href="#" class="external">居家調理咖啡</a></li>
				            </ul>
						</li>

						<li class="nav-item dropdown">
							<a class="dropdown-toggle external active" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">產品<span class="caret"></span></a>
							<ul class="dropdown-menu">
				                <li><a href="#" class="external">咖啡豆</a></li>
				                <li><a href="../product/" class="external">糕點</a></li>
				            	<li><a href="#" class="external">飲料</a></li>            	
				            </ul>
						</li>

						<li class="nav-item dropdown">
							<a href="dropdown-toggle external" href="#" data-toggle="dropdown" aria-haspopup="true" aira-expanded="false">活動<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" class="external">近期活動</a></li>
								<li><a href="#" class="external">促銷</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown messages-menu">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<i class="fa fa-shopping-cart fa-2x"></i>
								<span class="label label-success">6</span>
							</a>
							<ul class="dropdown-menu">
								<li class="header">您選購6項目</li>
								<li>
									<ul class="menu">
										<li>
											<a href="#">
												<div class="pull-left">
													<img src="../../images/product/coffee-restaurant3.jpg" class="img-circle" alt="coffee">
												</div>
												<h4>卡布奇諾蛋糕<small>5分前</small></h4>
												<p>NT 2,650</p>
											</a>	
										</li>
										
									</ul>
									<li class="footer"><a href="#">結帳</a></li>
								</li>
							</ul>
						</li>
						
					</ul>
				</div>
					 
			</div>
		</div>		
	</nav>
</header>	


    <div id="home">
		<div class="slider">
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators visible-xs">
						<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
						<li data-target="#carousel-slider" data-slide-to="1"></li>
						<li data-target="#carousel-slider" data-slide-to="2"></li>
					</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img src="../../images/slide1.jpg" class="img-responsive" alt=""> 
						</div>
					   <div class="item">
							<img src="../../images/slide2.jpg" class="img-responsive" alt=""> 
					   </div> 
					   <div class="item">
							<img src="../../images/slide3.jpg" class="img-responsive" alt=""> 
					   </div> 
					</div>
					
					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i> 
					</a>
					
					<a class=" right carousel-control hidden-xs" href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i> 
					</a>
				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->
		</div>
	</div>
   
	<section id="about" class="wrapper">
		<div class="container">
			<div class="center">
				<div class="col-md-6 col-md-offset-3">					
					<h2>Activities</h2>
				</div>
			</div>
		</div>
	
        <div class="container">
            <div class="row">
                <div class="col-sm-6 wow fadeInRight">
					<div class="box box-info">
                                <div class="box-header">
                                    <i class="fa fa-bullhorn"></i>
                                    <h3 class="box-title">Event</h3>
                                </div>
                                <div class="box-body">
                                    <div class="callout callout-warning" style="font-size:14px;">
                                        <h4>2017-07-18</h4>
                                        <a href="#">慶祝COFFEE LOVER’s PLANET 品牌總監 楊衣姍 小姐，榮獲2017台灣虹吸式咖啡冠軍！</a>
                                    </div>
                                </div>
                            </div>
  					<div class="well">
      					<div class="media">
	      					
	      					<a class="pull-left" href="#">
    							<i class="media-object fa fa-facebook-square fa-2x"></i>
  							</a>
  							<div class="media-body">
    							<h4 class="media-heading">2017-07-18</h4>
          						<a href="#">慶祝COFFEE LOVER’s PLANET 品牌總監 楊衣姍 小姐，榮獲2017台灣虹吸式咖啡冠軍！</a>
          						<!-- <ul class="list-inline list-unstyled">
	  								<li>
	  									<span><i class="fa fa-calendar"></i> 2 days, 8 hours </span>
	  								</li>
	            					<li>|</li>
            						<span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
            						<li>|</li>
            						<li>
               							<span class="fa fa-star"></span>
                        				<span class="fa fa-star"></span>
                        				<span class="fa fa-star"></span>
                        				<span class="fa fa-star"></span>
                        				<span class="fa fa-star-empty"></span>
            						</li>
            						<li>|</li>
            						<li>
              							<span><i class="fa fa-facebook-square"></i></span>
              							<span><i class="fa fa-twitter-square"></i></span>
              							<span><i class="fa fa-google-plus-square"></i></span>
            						</li>
								</ul> -->
       						</div>
    					</div>
  					</div>
                </div>

                <div class="col-sm-6 wow fadeInDown">
                    <div class="accordion">
                        <div class="panel-group" id="accordionNews">
                          
                          	<div class="panel panel-default">
                            	<div class="panel-heading">
                              		<h3 class="panel-title">
                              			<a class="accordion-toggle" data-toggle="collapse" data-parent="accordionNews" href="#collapseOne1"><span class="pull-right"><i class="fa fa-angle-right"></i></span>Web Design</a>
                              		</h3>
                            	</div>

                            	<div id="collapseOne1" class="panel-collapse collapse in">
                              		<div class="panel-body">
                                  		<div class="media accordion-inner">
                                        	<div class="pull-left">
                                            <!-- <img class="img-responsive" src="images/accordion1.png"> -->
                                        	</div>
                                        	<div class="media-body">
                                            	<h4>Adipisicing elit</h4>
                                            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
                                        	</div>
                                  		</div>
                              		</div>
                            	</div>
                        	</div>

                       	</div><!-- #accordionNews -->
                    </div>
                </div>

            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#about-->
	
	<section id="features" class="features">
		<div class="container">
			<div class="row">
				<div class="center">
					<div class="col-md-6 col-md-offset-3">
						<h2>Features</h2>
						<hr>					
						<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
					</div>
				</div>
				
				<div class="col-md-4 wow fadeInLeft">
					<h3>Responsive</h3>
					<!-- <img src="images/portfolio/recent/item4.png" alt=""> -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
					non cupidatat skateboard dolor brunch.</p>
				</div>
				
				<div class="col-md-4 wow fadeInUp">
					<h3>Web Design</h3>
					<!-- <img src="images/portfolio/recent/item5.png" alt=""> -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
					non cupidatat skateboard dolor brunch.</p>
				</div>
				
				<div class="col-md-4 wow fadeInRight">
					<h3>Easy Customize</h3>
					<!-- <img src="images/portfolio/recent/item6.png" alt=""> -->
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
					non cupidatat skateboard dolor brunch.</p>
				</div>
			</div>
		</div>		
	</section>

   <!-- <div class="well">
      <div class="media">
  		<a class="pull-left" href="#">
    		<img class="media-object" src="http://placekitten.com/150/150">
  		</a>
  		<div class="media-body">
    		<h4 class="media-heading">Receta 2</h4>
          <p class="text-right">By Anailuj</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
Aliquam in felis sit amet augue.</p>
          <ul class="list-inline list-unstyled">
  			<li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
            <li>|</li>
            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
            <li>|</li>
            <li>
               <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
            </li>
            <li>|</li>
            <li>
              <span><i class="fa fa-facebook-square"></i></span>
              <span><i class="fa fa-twitter-square"></i></span>
              <span><i class="fa fa-google-plus-square"></i></span>
            </li>
			</ul>
       </div>
    </div>
  </div>
</div> -->


	<section id="portfolio" class="portfolio">
		<div class="container">
			<div class="center">
				<div class="col-md-6 col-md-offset-3">
					<h2>Portfolio</h2>
					<hr>					
					<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
				</div>
			</div>
		</div>
	
        <div class="container">
			<div class="col-lg-12">		
				 <ul class="portfolio-filter text-center">
					<li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
					<li><a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a></li>
					<li><a class="btn btn-default" href="#" data-filter=".html">Photography</a></li>
					<li><a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a></li>
				</ul>

				<div class="row">
					<div class="portfolio-items">
						<div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
							<div class="recent-work-wrap">
								<img class="img-responsive" src="../../images/portfolio/item1.png" alt="">
								<div class="overlay">
									<div class="recent-work-inner">
										<h3><a href="#">Business theme</a></h3>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
										<a class="preview" href="../../images/fullscreen/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
									</div> 
								</div>
							</div>
						</div><!--/.portfolio-item-->

						<div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">
							<div class="recent-work-wrap">
								<img class="img-responsive" src="../../images/portfolio/item2.png" alt="">
								<div class="overlay">
									<div class="recent-work-inner">
										<h3><a href="#">Business theme</a></h3>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
										<a class="preview" href="../../images/fullscreen/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
									</div> 
								</div>
							</div>          
						</div><!--/.portfolio-item-->

						<div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">
							<div class="recent-work-wrap">
								<img class="img-responsive" src="../../images/portfolio/item3.png" alt="">
								<div class="overlay">
									<div class="recent-work-inner">
										<h3><a href="#">Business theme</a></h3>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
										<a class="preview" href="../../images/fullscreen/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
									</div> 
								</div>
							</div>        
						</div><!--/.portfolio-item-->

						<div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">
							<div class="recent-work-wrap">
								<img class="img-responsive" src="../../images/portfolio/item4.png" alt="">
								<div class="overlay">
									<div class="recent-work-inner">
										<h3><a href="#">Business theme</a></h3>
										<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
										<a class="preview" href="../../images/fullscreen/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
									</div> 
								</div>
							</div>           
						</div><!--/.portfolio-item-->

					</div>
				</div>
			</div>
		</div>
    </section><!--/#portfolio-item-->
	
		<!-- <div class="map">
			<div id="google-map" data-latitude="40.713732" data-longitude="-74.0092704"></div>
		</div> -->
	<section id="contact" class="contact">
		<div class="contact-page">
			<div class="container">
				<div class="center">        
					<h2>Contact Us</h2>						
				</div> 
				<div class="row contact-wrap"> 	
				    <div class="col-md-8 col-md-offset-2">	
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            
                            <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Send Message</button></div>
                        </form>			
                    </div>	
				</div><!--/.row-->
			</div><!--/.container-->
		</div><!--/#contact-page-->		
	</section>
	
	<footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
					<div class="text-center">
						<a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
					</div>
                    &copy; OnePage Theme. All Rights Reserved.
                    <div class="credits">
                        <!-- 
                            All the links in the footer should remain intact. 
                            You can delete the links only if you purchased the pro version.
                            Licensing information: https://bootstrapmade.com/license/
                            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=OnePage
                        -->
                        <a href="https://bootstrapmade.com/">Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                    </div>
                </div>
				
                <div class="top-bar">			
					<div class="col-lg-12">
					   <div class="social">
							<ul class="social-share">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-skype"></i></a></li>
							</ul>
					   </div>
					</div>
				</div>
			</div>
		</div>
    </footer>

    <!-- <footer class="footer">
    	<div class="container">
    		<span class="text-muted lang">Supposed by Bootstrap</span>
    	</div>
    </footer> -->

    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                	<h4 class="modal-title">Setting<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button></h4>
                </div>
                <div class="modal-body">
                    <div id="content"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="confirm">Confirm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/JiCoffee/js/vendor/jquery.min.js"><\/script>')</script>
<!-- <script src="../../js/popper.min.js"></script> -->
<script src="/JiCoffee/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/JiCoffee/js/ie10-viewport-bug-workaround.js"></script>
<script src="/JiCoffee/js/jquery.prettyPhoto.js"></script>
<script src="/JiCoffee/js/jquery.scrollTo.js"></script>
<script src="/JiCoffee/js/jquery.nav.js"></script>
<script src="/JiCoffee/application.js"></script>


<script>

$(function($) {
	$(function() {
		$('#modal').modal('show');
	});
}(jQuery));

// (function() {
// 	var requestSet = {
// 		findNews: {data: {system: 'News', operation: 'findCurrentNews'}}
// 	};
	
// 	Modal.confirm = function() {
// 		var status = {
// 			card: function() {
// 				console.log('modal Card');
// 			},
// 		};

// 		if (!this.data('status')) {
// 			$.error('No Status');
// 		}
// 		return status[this.data('status')].apply(this);
// 	};

// 	var modal = new Modal($('#modal'));
// 	var ajax = new Ajax({'url': '../../app/postFactory.php'});
// 	var service = new Service;

// 	var News = (function() {
// 		var generateNews = function(result) {
// 			$('#accordionNews').append(result.news);
// 		};

// 		service.listen('news', function(result) {
// 			generateNews(result);
// 		});

// 	}());

// 	var init = (function() {
// 		ajax.request(requestSet.findNews).done(function(result) {
// 			service.trigger('news', result);
// 		});
// 	}());

	
// }());
	
</script>
</body>

</html>