<div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">商品已被加入購物車<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button></h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-3 modalImage wrapper" id="modalImage"></div>
						<div class="col-sm-9">
							<h3 class="name"></h3>
							<p class="amount"></p>
							<p class="price"></p>
                     	</div>
                     </div>
                </div>
                <div class="warning">
                	<p class="text-danger text-center">數量不可超過50</p>
                </div>
			</div>
			<div class="modal-footer">
				<a type="button" class="btn btn-primary pay" href="/JiCoffee/view/product/?category=bean">繼續購物</a>
				<a type="button" class="btn btn-default pay" href="/JiCoffee/view/pay/">前往結帳</a>
			</div>
		</div>
	</div>
</div>
