<div class="modal fade" id="pay-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times</span></button></h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<h3 class="text-center">結帳明細</h3>
						<p>姓名: <span class="username"></span></p>
						<p>電子郵件: <span class="email"></span></p>
						<p>手機電話: <span class="phone"></span></p>
						<p>配送方式: <span class="deliver"></span></p>
						<p>銀行帳戶後五碼: <span class="bankAccount"></span></p>
						<p>運費: <span class="deliverPrice"></span></p>
						<p>總金額: <span class="totalPrice"></span></p>
                     </div>
                     <div class="list"></div>
                </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default checkout"><img src="/JiCoffee/images/loader.gif" class="hide">確認</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>