<div class="left-sidebar">
	<h2>分類</h2>
	<div class="accordion">
		<div class="panel-group category-products">	
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title"><a href="/JiCoffee/view/product/?category=bean">咖啡豆</a></h4>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a href="/JiCoffee/view/product/?category=drip">濾掛包</a>
					</h3>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="accordionCategory" href="#cake"><span class="pull-right"><i class="fa fa-plus"></i></span>糕點</a>
					</h3>
				</div>
				<div id="cake" class="panel-collapse collapse" data-toggle="dropdown">
					<div class="panel-body">
						<ul>
							<li><a href="/JiCoffee/view/product/?category=cake&serial=japan">和式蛋糕</a></li>
							<li><a href="/JiCoffee/view/product/?category=cake&serial=french">法式甜點</a></li>
							<li><a href="/JiCoffee/view/product/?category=cake&serial=america">美式點心</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="accordionCategory" href="#combination"><span class="pull-right"><i class="fa fa-plus"></i></span>超人氣混搭組合</a>
					</h3>
				</div>
				<div id="combination" class="panel-collapse collapse" data-toggle="dropdown">
					<div class="panel-body">
						<ul>
							<li><a href="#">和式蛋糕</a></li>
							<li><a href="#">法式甜點</a></li>
							<li><a href="#">西式點心</a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>